

<div class="main-cnt">
	
	<div class="title-cnt">
		<span class="title-text">Clietns List</span>
	</div>

	<div class="clients-cnt">

		<div class="clients-find">
			
			<app-input></app-input>

			<app-clients-list>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat exercitationem, minima est, suscipit non dolorem beatae quibusdam ducimus voluptatibus enim dolore obcaecati laudantium repellendus odio iure culpa ab velit explicabo.
			</app-clients-list>

		</div>

		<app-client-details></app-client-details>

	</div>

</div>