
<div class="main-cnt" >

	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<span>Clients List</span>
		</mat-toolbar-row>
	</mat-toolbar>

	<div class="clients-cnt">

		<div class="clients-find">
			
			<app-input
			(stringToFind)="findClients($event)"></app-input>

			<app-clients-list
			[clientsToShow]="clientsToList"
			(clientDetailed)="showClientDetails($event)"></app-clients-list>

		</div>

		<app-client-details
		*ngIf="areDetailsVisible"
		[details]="clientDetails"></app-client-details>

	</div>

</div>