
<div class="details-main">
	
	<div class="avatar">
		<img src={{details.general.avatar}} alt="">
	</div>

	<div class="client-details">
		
		<div class="details-gen">
			<span class="name">{{details.general.firstName}} {{details.general.lastName}}
			</span>
			<br>
			<br>
			<span class="job">{{details.job.title}} - {{details.job.company}}</span>
		</div>

		<div class="details-other">
			<span class="email">
			<b>Email:</b> {{details.contact.email}}
		</span>
		<br>
		<br>
		<span class="phone">
			<b>Phone:</b> {{details.contact.phone}}
		</span>
		<br>
		<br>
		<span class="address"><b>Address:</b>
			{{details.address.street}}, {{details.address.city}}, {{details.address.zipCode}}, {{details.address.country}}
		</span>
		</div>

	</div>

</div>