

<div class="details-main">
	
	<div class="avatar">
		<img src="../../favicon.ico" alt="">
	</div>

	<div class="client-details">
		
		<div class="details-gen">
			<span class="first-name">FirstName</span>
			<br>
			<span class="last-name">LastName</span>
			<br>
			<span class="job-title">Title - Company</span>
		</div>

		<div class="details-other">
			<span class="email">
			<b>Email:</b> Email
		</span>
		<br>
		<span class="phone">
			<b>Phone:</b> Phone
		</span>
		<br>
		<span class="address"><b>Address:</b>
			Address
		</span>
		</div>

	</div>

</div>