
<div class="details-main">
	
	<div class="client-avatar_details">
		<img src={{details.general.avatar}} alt="">
	</div>

	<div class="client-details">
		
		<div class="details-gen">
			<span class="client-name_detailed">{{details.general.firstName}} {{details.general.lastName}}
			</span>
			<br>
			<br>
			<span class="job">{{details.job.title}} - {{details.job.company}}</span>
		</div>

		<div class="details-other">
			<span class="client-email">
			<i class="fas fa-laptop"></i>: {{details.contact.email}}
		</span>
		<br>
		<br>
		<span class="client-phone">
			<i class="fas fa-mobile-alt"></i>: {{details.contact.phone}}
		</span>
		<br>
		<br>
		<span class="client-address"><i class="fas fa-envelope"></i>:
			{{details.address.street}}, {{details.address.city}}, {{details.address.zipCode}}, {{details.address.country}}
		</span>
		</div>

	</div>

</div>